a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: none; 
	color: #f00
	}
a:active {
	text-decoration: none
	}
.menu {
	background: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

.menu nav {
	text-align: right;
	padding: 10px 20px 0 0;
}

.menu nav ul {
	padding: 0px;
/*	margin: 0px;
*/
margin-right: 80px;
}

.menu nav li {
	display: inline-block;
	text-align: right;
}

.menu nav li a {
	display: block;
	color: #696969;
	padding: 10px 10px;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.125em;
	float: left;
}

.menu nav li a::after {
	content: '';
	display: block;
	background: white;
	height: 2px;
	width: 0;
	transition: .3s;
}

.menu nav li a:hover::after, .menu nav li a.active::after {
	width: 100%;
}

.logo {
	display: block;
	padding: 10px 10px 14px 20px;
	margin-left: 100px;
	font-size: 2em;
	float: left;
}

.container {
	max-width: 900px;
	margin: 80px auto 0 auto;
	padding: 60px 0;
}

.container::after {
	content: '';
	display: table;
	clear: both;
}

.tab-menu {
	text-align: center;
	margin: 20px 0 40px 0;
}

.tab-menu li {
	display: inline-block;
}

.tab-menu li a {
	display: inline-block;
	color: #696969;
	border: 4px solid;
	padding: 10px 0px;
	margin: 20px;
	text-decoration: none;
	font-family: 'Bad Script', cursive;
	letter-spacing: 2px;
}
	






.legenda{

	font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 13px;
    color: #696969
}

.descricao{
	    color: #696969;
    word-spacing: 3px;
    font-size: 16px;
    font-family: verdana, sans-serif;
    text-align: justify;
    margin-top: 0px;
}
.slogan{
	margin-bottom: 80px;
	padding: 0 20px;
}
.slogan h1, h2{
	text-align: center;
	font-family: 'Bad Script', cursive;
	color: #696969

}
.slogan h1{
	font-size: 3em;
	font-weight:900;
}
.slogan h2{
	font-size: 1.5em;
	font-weight:100;
}



.home{
	margin-bottom: 80px;
	padding: 0 20px;
}

.home h2{
	font-weight: 100;
    font-family: 'Bad Script', cursive;
    font-size: 2em;
}


.dica {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px;
    display: block;
}

.dica h1{
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px #ccc;
    color: #00BFFF;
    font-family: 'Bad Script', cursive;
    text-align: center;

}

.dica p{

        line-height: 1;
    color: #333;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    text-align: center;
}

/* aviso*/

.aviso {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px;
    display: block;
}

.aviso h1{
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px #ccc;
    color: #FF4500;
    font-family: 'Bad Script', cursive;
    text-align: center;

}
.aviso p{

    line-height: 1;
    color: #333;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    text-align: center;
}


.listar h3{
	color: red;
	font-family: 'Bad Script', cursive;
	font-size: 1.5em;
	text-align: center
}
.img-listar{
	margin-top: 5px;
}

.img-top-listar{
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius:8px;


}
.row{
	margin-right: 0px;
	margin-left: 0px;
}

.portfolio-item{
	margin-top: 10px;
}
.card{
	border: none;
}
.card-title {
	margin-top: -10px;
	font-size: 1.5em;
	text-align: center;
	color: #ccc;
}
.card-title a{
	color: #ccc;
}



@media only screen and (max-width: 992px) {
.slogan h1{
	font-size: 4em;
	font-weight:900;
}
.slogan h2{
	font-size: 2.5em;
	font-weight:100;
}

.menu nav li a {

	font-size: 2em;
}

.text-center{
	margin-top: 80px;
}

.logo {
	margin-left: 10px;
	float:left;}

.mobile-btn {
	display: block;
	color: #696969;
	width: 48px;
	height: 48px;
	border-top: 4px solid;
	margin: 20px 20px 0 0;
	float: right;
	position: relative;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.mobile-btn::after, .mobile-btn::before {
	content: '';
	display: block;
	height: 4px;
	margin-top: 10px;
	background: currentColor;
	position: relative;
	transition: transform .2s ease;
}

.mobile-btn.active {
	border-top-color: transparent;
}

.mobile-btn.active::after {
	margin-top: 0px;
	top: 2px;
	transform: rotate(45deg);
}

.mobile-btn.active::before {
	margin-top: 0px;
	top: 6px;
	transform: rotate(135deg);
}




.menu-nav.mobile-menu {
	position: fixed;
	background: #ffffff	;
	padding: 10px;
	top: 60px;
	right: 0px;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(60px, 0px, 0px);
	transition: .3s;
	width: 40%;

}

.menu-nav.mobile-menu.active {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0px, 0px, 0px);
}

.menu nav ul {
	padding: 0px;
	margin-right: 0px;
}

.menu-nav.mobile-menu li {
	display: block;
}

.menu-nav.mobile-menu li a {
/*	border-top: 2px solid;
*/	width: 100%;
	text-align: center;
}
	
.img-thumbnail{
	float: center;
}
}



/* fim media */
